@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/
@import "../node_modules/bulma/sass/utilities/initial-variables";
$back-gray: #F0F0F0;
$test-blue: #3993dd;
$secondary-gray: #AAA;
$navbar-background-color: #FFFFFB;


@import "../node_modules/bulma/bulma";
body,
html {
  position: relative;
  background: $back-gray;
  height: 100%;
  padding: 0;
  overflow-y: auto;

}
body {
  margin: 0;

}
.blue {
  background: $test-blue;

}
#right-arrow {
  text-align: right;
  padding: 0;
  margin-top: 50vh;
}

#left-arrrow {
  text-align: left;
  padding: 0%;
  margin-top: 50vh !important;
}
#post-section {
  margin-top: 25vh;
  padding: 0;
}
#post-column {
  padding: 0 .75rem 0 .75rem;
}

.nav-arrow {
  color: $secondary-gray;
  svg {
    cursor: pointer;
  }
}

#left-circle-nav {
  background: #FFFFFB;
  height: 100%;
  min-height: 100%;
  transition: transform 375ms ease;
  &.collapsed {
    transform: translateX(-25vw);
  }
}

#main-cols {
  height: 100%;
  min-height: 100%;
  background: $back-gray;
  margin-bottom: 0%;
}
.text-center {
  text-align: center;
}
.columns {
  margin: 0;
}
.profile-img {
  border-radius: 100%
}
.post-img {
  border-radius: 16px 16px 0 0;
}

.card {
  border-radius: 16px;
}

.card-content {
  border-radius: 16px;
  margin-top: -16px;
  background-color: white;
  position: relative;
  z-index: 8;

  time {
    margin-top: 16px;
    display: block;
    color: darken($secondary-gray, 10%);
  }
}
.columns:last-child {
  margin-bottom: 0%;
}
#collapse-btn {
  color: $secondary-gray;
  svg {
    cursor: pointer;
  }
  text-align: left;
  margin-left: 16px;
  margin-top: 50vh !important;
}
#collapse-btn-div {
  transition: transform 400ms ease;
  &.collapsed {
    transform: translateX(-25vw);
  }
}